OPENAI_API_KEY=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
# Optional. Default is gpt-4.1-mini
OPENAI_MODEL=gpt-4.1-mini
